body {font-family: 'Roboto', sans-serif; margin: 0;}

.container {width: 1180px; margin: 0 auto; }

.menu{overflow: hidden; border-left: 1px solid #013258;}
.menu__item{float: left; font-size: 14px; border-right: 1px solid #013258;}
.menu__link{text-decoration: none; display: block; padding: 20px; color: #fff;}
.menu__link:hover{background-color: rgba(0,0,0,0.1);}

.navbar {background-image: linear-gradient(to right, #02477e, #67a69e);}

.hero{
    height: 500px; 
    background-image: url('temp/hero.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.hero__container{position: relative; height: 100%; overflow: hidden;}
.hero__text{width: 400px; margin-top: 120px;}
.hero__title {line-height: 1; margin-bottom: 20px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);  font-size: 36px; color: #fff; font-weight: 900; text-transform: uppercase;}
.hero__description {line-height: 1.5; color: #fff; font-size: 14px; margin-bottom: 40px;}
.hero__link{display: inline-block; text-transform: uppercase; padding: 15px 26px; color: #fff; font-size: 12px; background-color: rgb(6,67,119); text-decoration: none;}
.hero__link-text{margin-right: 10px;}
.hero__pagination{display: flex; position: absolute; left: 0; bottom: 20px;}
.hero__thumb{margin-right: 6px; width: 8px; height: 8px; border: 1px solid #99b6d5;}
.hero__thumb--active:after{
    content: ' ';
    display: block;
    width: 6px;
    height: 6px;
    background-color: #064377;
    margin-top: 1px;
    margin-left: 1px;
}

.article{background-color: #fff; padding-bottom: 25px;}
.article__image{
    width: 100%; height: 0; padding-bottom: 100%;  overflow: hidden; background-color: #67a69e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
}
.article__title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #363636;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 29px;
    line-height: 1.5;   
    margin-bottom: 12px; 
}
.article__description{
    color: #999;
    font-size: 12px;
    line-height: 1.4;
    padding: 0 29px;
    margin-bottom: 20px;
}
.article__action{
    padding: 0 29px;
}
.article__more{
    color: #65a39b;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.article__more-text{
    margin-right: 6px;
}

.about{
    padding: 68px 0 70px;
}
.about__container  {display: flex; justify-content: space-between; align-items: center;}
.about__text{
    width: 580px;    
}
.about__title{
    color: #064377; font-size: 18px; text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;    
    position: relative;
}
.about__title:after {  
    position: absolute;
    bottom: -13px;
    left: 0;  
    display: block;
    content: ' ';
    width: 20px;
    height: 2px;
    background-color: #5fa098;
}
.about__description{
    color: #363636;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}
.about__more{
    color: #65a39b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
}
.about__video{
    width: 520px; height: 300px; background-color: #999;
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.about__video:before{
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(63, 53, 53, 0.2);
}
.about__play{
    position: relative;
    opacity: 0.7;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}


.stat {
    height: 250px; 
    background-color: #02477e;
    background-image: url('temp/stat.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.stat:before {
    position: absolute;
    background-color: #064377;
    opacity: 0.5;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.stat__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.stat__number{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1;
    margin-bottom: 30px;
    position: relative;
}
.stat__number:after {
    position: absolute;
    left: 0;
    bottom: -14px;
    display: block;
    content: " ";
    width: 20px;
    height: 2px; 
    background-color: #0f436f;
}
.stat__text{
    font-size: 14px;    
    color: #fff;   
    line-height: 1; 
}


